{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Jaw X</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
            <input type="text" placeholder="Search..">
          </div>
        <h1 class="movie">Jaw X</h1><br>

    <a class="text">
            แนว: <a class="text" href="http://127.0.0.1:8000/crime/">Crime,</a>
            <a class="text" href="http://127.0.0.1:8000/drama/">Drama,</a>
            <a class="text" href="http://127.0.0.1:8000/thriller/">Thriller</a>
     </a><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่การรีวิวหนังเรื่อง The Jokmoo เอ้ย The Joker ของผู้กำกับ Todd Phillip เข้าฉายเมื่อวันที่ 4 ตุลาคม ค.ศ. 2019 
        โดยที่ The Joker แสดงนำโดย Joaquin Phoenix เราจะมาดูกันว่าเขาจะแสดงบทบาทของ The Joker ออกมาเป็นยังไงเพราะในเวอร์ชั่นของ Heath Ledger 
        ได้ทำไว้มีมาตรฐานสูงมาก วันนี้เราจะมารีวิวให้คุณผู้อ่านได้รับรู้ถึงความรู้สึกที่ผู้เขียนได้รับจากการดูหนังเรื่องนี้ โดยขอย้ำเตือนว่าการรีวิวนี้เป็นมุมมองส่วนตัวของผู้เขียน 
        ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของเรา 
        เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ 
    </a>
    <center><img src="{% static 'hello_world/picture/Joker.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Todd Phillips</a><br>
    <a class="text">นักเขียน: Todd Phillips ,Scott Silver ,Bob Kane</a><br>
    <a class="text">นักแสดงนำ: Joaquin Phoenix ,Robert De Niro ,Zazie Beetz ,Frances Conroy</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        อาร์เธอร์ เป็นชายคนหนึ่งที่ต้องเผชิญหน้ากับความโหดร้ายทารุณและสังคมที่เต็มไปด้วยการเหยียดหยาม เขาต้องเผชิญกับความอ้างว้างจนเปลี่ยนเขาจากที่เป็นคนอ่อนแอกลายเป็นคนโหดเหี้ยม 
        เขารับจ้างแต่งชุดเป็นตัวตลกรายวัน จนกระทั่งคืนหนึ่งที่เขาพยายามที่จะแสดงตลกเดี่ยว แต่กลับพบว่าตัวเองต่างหากที่กลายเป็นเรื่องตลก เขาไม่เป็นตัวของตัวเองเวลาที่มีผู้คนอยู่รายล้อม 
        ซึ่งเห็นได้จากเสียงหัวเราะที่ไม่สามารถควบคุมได้และดูไม่เหมาะสม ยิ่งเขาพยายามควบคุมเท่าไหร่มันก็ยิ่งแสดงออกมามากขึ้น จนทำให้เขาแสดงความเยาะเย้ยและความรุนแรงออกมา 
        อาร์เธอร์ทุ่มเทเวลาไปกับการดูแลแม่ที่ไม่ค่อยแข็งแรง และไขว่คว้าตามหาคนที่เหมาะจะเป็นพ่อซึ่งเขาไม่เคยมีมาก่อน ตั้งแต่นักธุรกิจมหาเศรษฐี โธมัส เวย์น ไปจนถึงพิธีกรรายการทีวี เมอร์เรย์ แฟรงค์ลิน 
        เขาพบว่าตัวเองอยู่ปลายทางระหว่างโลกแห่งความจริงกับความบ้าคลั่ง การตัดสินใจที่ผิดพลาดเพียงครั้งเดียวกลายเป็นชนวนเหตุที่นำไปสู่เหตุการณ์รุนแรงมากมาย
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ปกติหนังของ Todd Phillips จะเน้นไปทางสายฮาซะมากกว่า อย่าง The Hangover แต่พอได้ดูเท่านั้นแหละ Todd Phillips สามารถหักปากกานักวิจารณ์ได้ไปทั้งหมด โดยให้จุดเริ่มต้นใหม่ของ The Joker ออกมาได้มืดมนมากและเชื่อแล้วว่าอย่าเข้าไปดูตอนเป็นโรคซึมเศร้าอยู่ เพราะ ตอนผมเข้าไปดูในโรง มีคนสลบไป 4-5 คน จน จนท. ต้องพาส่งโรงพยาบาล<br>
        - การเข้าไปในหัวของ Arthur Fleck ได้เห็นมุมมองในสิ่งที่เขาต้องการจะทำหรือคอยรับฟังปัญหาจากเขา<br>
        - หากใครเทียบกันระหว่าง Heath Ledger จาก Batman The Dark Knight และ Joaquin Phoenix จาก The Joker ว่าใครเล่นได้กว่ากัน ของบอกเลยว่าไม่รู้ผล เพราะ ให้อารมณ์ความรู้สึกต่างกันมาก Heath Ledger ออกไปทางความบัา ความโกลาหล  ดันสดทุกสถานะการณ์ส่วน Joaquin Phoenix เล่าจุดกำเนิดของเขาว่ามันเกิดจากอะไรและผลลัพธ์จะเป็นยังไง<br>
        - ฉากที่เต้นในห้องน้ำสาธารณะหลังจากที่ฆ่าคนมา  Joaquin Phoenix ทำออกมาได้ถึงอารมณ์ ทำให้เราสัมผัสได้ถึงการปลดปล่อยและได้ค้นพบตัวตนที่แท้จริง<br>
        - ทุกครั้งที่มีนาฬิกาโผ่ลมาในฉาก มักจะเป็นเวลา 11:11 เสมอ หากใครรู้ความหมายฝากบอกด้วย<br>
    </pr>
    <a class="text">คะแนน 8.5/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง The Joker ก็กวาดทั้งรายได้ถล่มทลายและคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นชุดหนังที่สนุกและสามารรถครองใจสาวกของ Joker ได้
        โดยที่อาจจะมีใครหลายๆคนสามารถลบภาพจำ Joker ที่เล่นโดย Heath Ledger ได้ หรือบางคนก็สามารถนำมาเทียบเคียงกันได้ ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ 
        สามารถไปหาตามรับชมกันได้ และถ้าหากท่านมีความคิดเห็นอย่างไรสามารถพิมพ์แสดงความคิดเห็นได้ในกล่องข้อความข้างล่างนี้ครับ (ปล. หากใครที่ชอบเรื่องนี้ ก็เตรียมตัวรอภาค 2 ที่กำลังจะมาได้เลยครับ)
    </a>
    </p>
    </body>
</html>
