{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>The Mist</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
            <input type="text" placeholder="Search..">
          </div>
        <h1 class="movie">มฤตยูหมอกกินมนุษย์ (The Mist)</h1><br>

        <a class="text">
            แนว: <a class="text" href="http://127.0.0.1:8000/horror/">Horror,</a>
            <a class="text" href="http://127.0.0.1:8000/thriller/">Thriller,</a>
            <a class="text" href="http://127.0.0.1:8000/scifi/">Scifi</a>
        </a><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่การรีวิวหนังเรื่อง The Mist ของผู้กำกับ Frank Darabont เข้าฉายเมื่อวันที่ 28 กุมภาพันธ์ ค.ศ. 2007 
        หนังเรื่องนี้เป็นหนังเก่าที่ได้รับการฉายมาหลายปีแล้วแต่ว่าหนังเรื่องนี้ได้รางวัลหนังสยองขวัญยอดเยี่ยมในปี 2008 ซึ่งมันทำให้ผู้เขียนสนใจที่จะรีวิวเรื่องนี้ 
        เพราะฉะนั้นวันนี้เราจะมารีวิวให้คุณผู้อ่านได้รับรู้ถึงความรู้สึกที่ผู้เขียนได้รับจากการดูหนังเรื่องนี้ โดยขอย้ำเตือนว่าการรีวิวนี้เป็นมุมมองส่วนตัวของผู้เขียน 
        ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของเรา 
        เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ
    </a><br>
    
    <center><img src="{% static 'hello_world/picture/The Mist.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Frank Darabont</a><br>
    <a class="text">นักเขียน: Frank Darabont ,Stephen King</a><br>
    <a class="text">นักแสดงนำ: Thomas Jane ,Marcia Gay Harden ,Laurie Holden ,Andre Braugher ,Toby Jones ,William Sadler ,Jeffrey DeMunn ,Frances Sternhagen ,Sam Witwer ,Alexa Davalos ,Nathan Gamble</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ดีไซน์การออกแบบพวกสัตว์ประหลาดดีเยื่ยมมาก สัมผัสได้ถึงความน่าขยะแขยงและจะมีสัตว์ประหลาดที่ชอบอยู่ 2 ตัว คือ ปลาหมึกหนามและสัตว์ประหลาดไซต์บิ๊ก <br>
        - นักแสดงทุกคนเล่นออกมาได้เหมือนอยู่ในสถานการณ์จริง เมื่อไรที่ความกลัวเข้าครอบงำ สันดานดิบของตัวมนุษย์จะเป็นตัวกำหนด โดยเฉพาะนักแสดง Thomas Jane เล่นออกมาได้สิ้งหวังสุดๆ<br>
        - หนังเรื่องนี้ทำออกมาให้เห็นแล้วว่าจะมีคนนึงจะฉวยโอกาสแอบอ้างตัวเองเป็นผู้ส่งสารจากพระเจ้า โดยใช้ความหวาดกลัวจากคนอื่นเพื่อให้ตัวเองเป็นใหญ่ ต้องขอบคุณ Marcia Gay Harden ที่เล่นเป็นไอ้มนุษย์ป้าได้ถึงบทบาทมาก จนถ้าผมเจอในชีวิตจริง ไม่รู้ผมจะควบคุมตัวเองได้ไหมเมื่อจริงมนุษย์ป้าแบบนี้<br>
        - ดนตรีประกอบ สัมผัสได้ถึงความสิ้นหวัง ยิ่งรวมกับฉากใกล้จบเรื่องนี้ เป็นอะไรที่หักมุมที่สุด<br>
        - ช่วงหนังใกล้จบเป็นอะไรที่หักมุมเอามากๆ ไม่คิดว่าผู้กำกับจะทำแบบนี้ ถึงขั้น Stephen King ต้องออกมาชมว่า "ทำไมผมไม่ทำแบบนี้ในนิยายบ้างนะ" และ Frank Darabont ได้ทำหนังตอนจบไว้อีกแบบซึ่งหนักกว่าตอนจบที่เราดูกันขึ้นไปอีก<br>
    </pr>
    <a class="text">คะแนน 8/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง The Mist ก็กวาดทั้งรายได้ถล่มทลายและคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นหนังที่ลุ้นและระทึกอีกเรื่องหนึ่งที่สามารรถครองใจผู้ชมได้อย่างล้นหล่าม 
        ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังเรื่องนี้ สามารถไปหาตามรับชมกันได้ และถ้าหากท่านมีความคิดเห็นอย่างไรสามารถพิมพ์แสดงความคิดเห็นได้ในกล่องข้อความข้างล่างนี้ครับ
    </a>
    </p>
    </body>
</html>
