{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>FAST & FURIOUS FRANCHINES</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
            <input type="text" placeholder="Search..">
          </div>
        <h1 class="movie">FAST & FURIOUS</h1><br>
        <center><img src="{% static 'hello_world/picture/FAST All.jpg' %}"></center><br>
        <a class="text">
          แนว: <a class="text" href="http://127.0.0.1:8000/action/">Action,</a>
      </a><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน  ยินดีต้อนรับเข้าสู่การรีวิวมหากาพย์หนังเรื่อง FAST AND FURIOUS โดยแต่ละภาคจะมีการเปลี่ยนผู้กำกับไปมาซึ่งสามารถดูได้ในรีวิวนะครับ  
        ซึ่งเราจะมารีวิวเจาะไปทีละภาคกันในบทความนี้ โดยขอย้ำเตือนกันก่อนว่าการรีวิวนี้เป็นมุมมองส่วนตัวของผู้เขียน อาจจะถูกใจหรือไม่ถูกใจท่านไหนทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย 
        หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของเรา เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ    
    </a>
    <h1 class="detail">THE FAST AND THE FURIOUS (2001)</h1>
    <center><img src="{% static 'hello_world/picture/Fast1.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ไบรอัน โอคอนเนอร์ ได้รับภารกิจแฝงตัวมาในกลุ่มนักซิ่งข้างถนนเพื่อหาหลักฐานจับกุมหนึ่งในกลุ่มนักซิ่งข้างถนนที่ทำการปล้นรถบรรทุกสินค้าอิเล็คโทรนิคและทำให้คนขับรถได้รับบาดเจ็บ ไบรอัน ได้ตีสนิทกับแก๊งค์รถซิ่งของเจ้าพ่อนักซิ่งแห่งแอลเอ โดมินิค โทเร็ตโต้ และไบรอันนั่นได้ตกหลุมรักซึ่งกันและกันกับ น้องสาวของดอม มีอา โทเร็ตโต้ ภายหลังไบรอันถูกทางหัวหน้าตำรวจและเอฟบีไอกดดันเขาทำให้เขาต้องรีบสืบหาตัวคนร้าย 
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p>
      -นี้คือภาคแรกของจุดเริ่มต้นของพลังแห่งครอบครัวในตำนาน<br> 
      -จากใจเลยนะคือการที่ "ไบรอัน" โดนสั่งให้มาแฝงตัวในกลุ่มของ "ดอม" เพื่อที่จะหาหลักฐานจับแก๊งของ "ดอม" แต่ด้วยกามเทพแพลงศรให้ "ไบรอัน" ไปรักกับน้องสาว "ดอม" จากนั้นก็ตามนั้นครับจากศัตรูกลายเป็นพี่เขย (อุ๊ย)<br>
      -ฉากที่ชอบคือ "ดอม" กับ "ไบรอัน" ซิ่งรถเหินข้ามทางรถไฟไปได้แบบฉิวเฉียด<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">และเขาก็สืบรู้ผ่านทางมีอาและรู้ว่าดอมกับพวกนั่นคือ แก๊งค์รถซิ่งที่คอยดักปล้นรถบรรทุกสินค้า ตอนจบของเรื่อง เจสซี่ เพื่อนในแก๊งค์ของดอมได้ไปแข่งเดิมพันรถกับแก๊งค์มาเฟียชาวจีน 
                และแพ้แต่ไม่ทันให้รถก็ถูกแก๊งค์ชาวจีนแว๊นมอเตอร์ไซค์มายิงตายคาหน้าบ้านดอม ดอมกับไบรอันจึงขับรถไปตามล่าแก๊งค์ชาวจีน และไบรอันก็ยิงหนึ่งในแก๊งค์ตาย 
                ส่วนดอมก็ท้าซิ่งรถกับไบรอันเป็นระยะทาง 1/4 ไมล์ และดอมก็เกือบชนะแต่รถดันพลิกคว่ำก่อน ไบรอันได้ให้กุญแจรถแก่ดอมให้หนีไป ที่ปล่อยให้หนีไป 
                เพราะตอนนั้นมิตรภาพระหว่างดอมกับไบรอันนั่นมันยากที่จะแยกแยะความผิดหรือถูก ถึงไบรอันรู้ว่าดอมผิดเป็นอาชญากรแต่จับไม่ลง เลยตัดสินใจยื่นกุญแจรถให้ดอมขับหนีไป</a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 7/10</a><br>

    <h1 class="detail">2FAST 2FURIOUS (2003)</h1>
    <center><img src="{% static 'hello_world/picture/Fast2.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        เรื่องราวต่อจากภาคแรก เมื่อ “ไบรอัน” ถูกไล่ออกจากราชการ เขาผันตัวมาซิ่งรถแข่งกินเงิน โดยมี “เทจ พาร์คเกอร์” เจ้าของอู่ซ่อมรถคอยสนับสนุน โดยหนึ่งในนักแข่งที่น่าจับตามองมากที่สุดก็คือ 
        สาวชาวเอเชีย “ซูกิ” แต่ดูเหมือนโชคจะไม่เข้าข้าง เมื่อ “ไบรอัน” โดนจับกุมตัวมาพบกับ เจ้าหน้าที่ บิลกินส์ นายเก่าของเขานั่นเอง โดยเขาได้ยื่นข้อเสนอให้ ไบรอัน 
        ไปเป็นสายลับจับกุม พ่อค้ายาเสพติดรายใหญ่  “คาร์เตอร์ เวโรน” เพื่อแลกกับการลบประวัติและยังทำให้เขากลับมาทำงานได้ดังเดิม“ไบรอัน” จึงกลับไปหาเพื่อนเก่า “โรมัน เพียร์ซ” 
        เพื่อร่วมกันปฏิบัติภารกิจสุดหิน ร่วมกับ สายลับสาว “โมนิกา ฟูเอสเทส” ซึ่งเข้าไปเป็นสายก่อนหน้านี้
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - สิ่งที่ดีที่สุดในภาคนี้คือ Nissan Gtr R34 skyline ที่ทั้งสวยงามและโดดเด่น ซึ่งน่าจะทำให้หลายๆคนชื่นชอบรถรุ่นนี้มากเป็นพิเศษจนหามาใช้ในชีวิตจริงกันเลยทีเดียว<br>
        - อีกหนึ่งความอึ้งคือ มึงขับรถกระโจนขึ้นเรือมึงทำได้ยังไงว่ะ หรือนี้คือจุดเริ่มต้นพลังอเวนเจอร์ในภาคต่อๆไปกันแน่ <br>
        - ตัวละครที่ชอบในภาคนี้น่าจะ "โรมัน" ที่พี่แกคือตัวโจ๊กของเรื่องและจะกลายเป็นตัวโจ๊กของแฟรนไชส์ต่อไปหลังจากนี้
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">ในภายหลังดูเหมือนว่าฝ่าย “คาร์เตอร์” จะรู้ว่ากลุ่มนักซิ่งทำงานให้ตำรวจ เขาจึงทำทีบอกกล่าวกับ “โมนิกา” ว่าหากจบงานก็จะสังหารคู่หูนักซิ่งสะ แน่นอนว่าทั้งไบรอันและโรมัน ต่างไม่โอเคกับงานนี้ 
                แต่พอไปบอกฝ่ายตำรวจ กลับโดนต่อว่าและยังข่มขู่จะยัดข้อหาหากไม่ยอมไปขับรถส่งเงินให้ "คาร์เตอร์" ด้วยเหตุนี้เอง สองคู่หูนักซิ่งจึงไปขอความช่วยเหลือจากแก๊งซิ่งรถให้มาสลับรถเพื่อหลอกตำรวจ 
                จนสามารถเอาเงินไปส่งให้ “คาร์เตอร์” ได้สำเร็จแต่ เจ้าพ่อยาเสพติดยังคงเล่นตุกติด จับ “โมนิกา” ขึ้นไปบนเรือ “ไบรอัน” จึงขับรถตามไปก่อนจะซิ่งเหินฟ้า จนรถพุ่งไปเสียบบนเรือของเจ้าพ่อยา “โมนิกา” 
                จึงฉวยจังหวะนี้ต่อสู้และจับกุม “คาร์เตอร์” ได้สำเร็จ เรื่องราวจบลงตรงที่ "โรมัน เพียร์ซ" ฉกเงินหลายล้านเหรียญมาเป็นทุนในการซิ่งรถ</a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 5.5/10</a><br>

    <h1 class="detail">FAST & FURIOUS TOKYO DRIFT (2006)</h1>
    <center><img src="{% static 'hello_world/picture/Fast3.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
      เรื่องราวของ เด็กหนุ่มที่ชื่อ “ฌอน บอสเวลล์”  เขาชื่นชอบการแข่งรถเป็นชีวิตจิตใจ หลังจากเขาเดินทางมาอยู่กับพ่อที่โตเกียว เขาไปตกหลุมรัก “นีลา” 
      ลูกสาวบุญธรรมของเจ้าพ่อยากุซ่า “ฌอน” จึงพยายามเอาชนะแฟนหนุ่มของเธอนั่นก็คือ “ทาเคชิ” หรือ “ดีเค”  ลูกชายยากุซ่าแต่เพราะ “ฌอน” ไม่มีรถไปแข่ง 
      “ฮาน หลิว”  เพื่อนของ “ดีเค” จึงเอ่ยปากให้ยืม “ฌอน” เอารถของเขาไปแข่งแน่นอนว่า “ฌอน” แพ้ยับเยินแบบสุด ๆ เขาไม่มีเงินซ่อมรถให้ “ฮาน” 
      เขาจึงต้องทำงานชดใช้หนี้ให้ “ฮาน” ระหว่างนั้น “ฮาน” ก็ได้สอนให้เขารู้จักการดริฟท์รถ นั่นจึงทำให้ “ฌอน” พัฒนาการสกิลการซิ่งรถมากขึ้นเรื่อย ๆ
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ตัวละครที่ชอบที่สุดคือ พี่ฮานเลยจ้าาา หล่อเท่ๆ โดยเฉพาะฉากดริฟที่พี่ฮานกูโครตเท่ดริฟรถใจกลางเมืองโตเกียว<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">เรื่องเหมือนจะไปได้ด้วยดี แต่เพราะ “ฮาน” โดนจับได้ว่าโกงเงินแก๊งยากุซ่า เขาจึงโดน “ดีเค” ตามไล่ล่า กระทั้งประสบอุบัติเหตุรถมีรถพุ่งเข้ามาชนจนเกิดการระเบิด “ฮาน” เสียชีวิต 
                ส่วน“ฌอน” ไม่อยากหลบหนีไปตลอด เขาไปคุยกับยากุซ่าเพื่อขอท้าแข่งรถ แลกกับอิสรภาพของเขา ซึ่งแน่นอนว่า พระเอกของเราไม่ทำให้ผิดหวัง สามารถโค่นลูกชายยากุซ่าปลดแอกให้ตัวเองสำเร็จ 
                และในช่วงท้ายเรื่อง มีนักซิ่งหนุ่มรายหนึ่ง อ้างว่าเขาเป็นเพื่อนซี้กับ “ฮาน” นั่นก็คือ “ดอม” เข้ามาท้าแข่ง “ฌอน” โดยทั้งสองนั่งอยู่ในรถคู่ใจ ณ จุดสตาร์ท ก่อนจะออกตัวไปอย่างรวดเร็ว</a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 6.5/10</a><br>

    <h1 class="detail">FAST & FURIOUS 4 (2009)</h1>
    <center><img src="{% static 'hello_world/picture/Fast4.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
      จะเป็นการเล่าต่อจากภาคแรก หลังจากที่ “ดอม” หลบหนีการไล่ล่าตัวจาก FBI ไปอยู่กับเพื่อนอย่าง “เทโก้”  และ “ริโก้”  คู่หูแก๊งซิ่งแห่ง จนกระทั่ง “เล็ตตี้” ตามมาสมทบ 
      แล้วยังได้เจอกับเพื่อนเก่าอย่าง “ฮาน” ด้วย โดยหลังจากทั้งหมดปล้นรถขนน้ำมัน ก็ได้แยกย้ายจากกันไป ต่อมา “ดอม” ทราบข่าวร้ายว่า “เล็ตตี้” เสียชีวิตจากการโดนแก๊งค้ายาเสพติด 
      “บาราก้า” สังหาร หลังจากเป็นสายให้กับ FBI เพื่อแลกกับอิสรภาพของให้เขา “ดอม” จึงจับมือกับ “ไบร์อัน” ตามล้างแค้นเจ้าพ่อกับแก๊งค้ายาเสพติด
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
      - ฉากแห่งมีมแห่งปีคือฉากที่เล็ตตี้ ตะโกนเร่ง ดอม ขับรถหนีถังน้ำมันที่กลิ้งมาหา<br>
      - ฉากตาตึงใจสุดๆ คือดอม ซิ่งรถลอดถังน้ำมันแบบฉิวเฉียด<br>
      - ช๊อตฟิลจัดคือ ตัวร้ายปลอมเป็นลูกน้องตัวเอง ซึ่งถ้าดูครั้งแรกก็คงคาดไม่ถึง แต่แหม่เล่นปลอมอาซะเกือบจะจบเลย<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">พวกเขาสามารถจับกุม ราชายาเสพติด บาราก้า ตัวจริงไว้ได้ นั่นก็คือ “รามอน คัมโพส” หลังจากที่เขาปลอมเป็นลูกน้องตัวเองอยู่ในแก๊ง รวมจัดการกับ “ฟินิกซ์”  
                เพื่อล้างแค้นให้ “เล็ตตี้” ได้สำเร็จ โดยภาคนี้ คู่หูนักซิ่งต่างก็ได้รับการช่วยเหลือจาก “จีเซล”  อดีตทหารรับจ้างที่แฝงเป็นลูกน้องของ “บาราก้า” หลังจากนั้น “ดอม” ได้เข้ามอบตัวกับตำรวจ
                แต่ก็ได้ “ไบรอัน” และ “มีอา” ขับรถมาช่วย ขณะที่ “ดอม” กำลังอยู่บนรถขนนักโทษ </a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 6.5/10/10</a><br>

    <h1 class="detail">FAST & FURIOUS 5 (2011)</h1>
    <center><img src="{% static 'hello_world/picture/Fast5.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
      เรื่องราวเริ่มต้นเมื่อ “ดอม”, “มีอา” และ “ไบร์อัน” หลบหนีมายังประเทศบราซิล แต่ยังไม่วายโดนไล่ล่าจากแก๊งมาเฟียเจ้าถิ่น “เฮอร์นาน เรเยส” ที่ต้องการเอาชิปข้อมูลเส้นทางการค้ายาเสพติดในรถคันที่กลุ่มของ “ดอม” 
      ขโมยมาได้ งานนี้ชาวแก๊งซิ่งรู้ว่ามาเฟียรายนี้ มีเงินสดซุกซ่อนตามแหล่งเก็บต่าง ๆ หลายร้านเหรียญ พวกเขาจึงต้องการปล้นเอาเงินทั้งหมดไปซื้ออิสภาพในบราซิล โดยเฉพาะอย่างยิ่ง “มีอา” กำลังมีลูกกับ “ไบร์อัน” 
      คราวนี้ “ดอม” จึงขอแรงพลพรรคสมาชิกครอบครัวกลับมาช่วยกันปล้น นั่นก็คือ “ริโก้”, “เทโก้”, “ฮาน”, “จีเซล”, “โรมัน” และ “เท็จ” ขณะเดียวกันมือปราบอย่าง “ลุค ฮ็อบส์” พร้อมด้วย ตำรวจสาวสุดสวย “เอเลน่า เนฟส์”  
      นำกำลังเข้าขัดขวางและพยามจับกุมแก๊งของ “ดอม”
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - มีฉากหลอกซ้ำซ้อนไปมา แต่ที่แบบดีสุดๆเลยก็ฉากลากตู้เซฟไปทั่วเมืองนี้แหละคิดดูว่าถ้าเกิดขึ้นจริงๆจะเป็นยังไง ซึ่งได้กลายเป็นฉากในตำนานของแฟรนไไชส์นี้ไปเลยก็ว่าได้<br>
        - ฉากที่ชอบฉากแรกคือ ดอม-ไบรอัน เหินรถจากหน้าผาลงน้ำ<br>
        - ฉากที่ดีสุดๆเลยก็ฉากลากตู้เซฟไปทั่วเมืองนี้แหละคิดดูว่าถ้าเกิดขึ้นจริงๆจะเป็นยังไง<br>
        - ฉากที่เหลี่ยมจัดๆคือฉากที่แอบสลับตู้เซฟให้คนเขาตามตู้ปลอม ซึ่งเนียนมากและการถ่ายทำก็ดี<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">ท้ายที่สุดมาเฟียตัวพ่อกลับตลบหลัง ให้ลูกน้องมาไล่ฆ่าฝ่าย “ฮ็อบส์” เพื่อชิงตัว “ดอม” กับพวก นั่นจึงทำให้ “ฮ็อบส์” โมโหสุด ๆ เขายอมจับมือกับ “ดอม” 
                เพื่อจัดหนักเหล่ามาเฟีย ซึ่งกลุ่มของ “ดอม” ได้เข้าไปขโมยรถตำรวจมาดัดแปลงก่อนจะบุกเข้าไปลากเอาตู้เซฟออกมานอกอาคาร พุ่งชนทุกสิ่งทุกอย่างท้ายที่สุด 
                เจ้าพ่อมาเฟียพลาดโดนฝ่าย ดอมเล่นงานหนัก ส่วน “ฮ็อบ” เข้ามาคุมสถานการณ์และบอกให้ “ดอม” ทิ้งเซฟเอาไว้ ซึ่งแท้จริงแล้ว 
                “ดอม” กับพวกได้สลับเปลี่ยนตู้ระหว่างลอดใต้สะพาน งานนี้ กลุ่มของ “ดอม” ได้เงินไปร้อยล้านเหรียญ แต่คนที่โผล่มาราวกับผี…นั่นก็คือ “เล็ตตี้” โดยมีรายงานจากตำรวจว่า 
                เธอได้เข้าไปร่วมแก๊งซิ่งโจรกรรมดาวเทียมของรัสเซียที่ชื่อ “โอเว่น ชอว์” (เจอกันต่อภาค 6 จ้า) </a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 8/10</a><br>

    <h1 class="detail">FAST & FURIOUS 6 (2013)</h1>
    <center><img src="{% static 'hello_world/picture/Fast6.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
      เรื่องราวเริ่มต้นขึ้นเมื่อ “ฮ็อบส์” ไปขอความช่วยเหลือจากทีมซิ่งของ “ดอม” เพื่อมาปราบ “โอเว่น ชอว์” อดีตหน่วยปฏิบัติการพิเศษทหารอังกฤษ 
      คุมด้านหน่วยยานยนต์มาก่อน แน่นอนว่าสิ่งที่แลกก็คือ อิสรภาพที่ “ดอม” จะกลับไปอยู่บ้านที่สหรัฐได้ตามต้องการ พร้อมล้างประวัติอาชญากร และ “เล็ตตี้” 
      ที่เธอได้เข้าไปร่วมแก๊ง “โอเว่น ชอว์” เป็นอีกหนึ่งปัจจัยที่ทำให้ “ดอม” ตัดสินใจรับงานนี้ โดยได้ขอความร่วมมือจากสมาชิกแก๊งเก่าให้กลับมาร่วมกันอีกนั่นก็คือ 
      “ไบร์อัน”, “ฮาน”, “จีเซล”, “โรมัน” และ “เท็จ” ส่วน “มีอา” คอยเลี้ยงลูกอยู่บ้านไม่ได้ลงมาลุยด้วย เพื่อช่วยในการทำภารกิจนี้
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ฉากที่เยี่ยมแบบมึงทำได้ยังไงคือ “ดอม” ซิ่งรถไปคว่ำรถถัง แถมยังโดดไปช่วย “เล็ตตี้” ไม่ให้ตกจากที่สูง นี้น่าจะนับว่าเป็นจุดเริ่มต้นของพลังอเวนเจอร์ในตัว “ดอม” ก็เป็นไปได้<br>
        - มีหนอนบ่อนไส้ในครอบครัวนาง ไรรี่ ส่งยิ้มให้กับตัวร้ายอย่าง โอเว่น หลังจากเธอเป็นสายให้เขาเค้ามาตลอด<br>
        - จีเซลตายเพื่อปกป้องฮาน เป็นที่แอดชอบที่แอดจะร้องไห้ ยอมสละชีวิตตัวเองเพื่อคนที่รัก<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">กลุ่มของ “ดอม” สามารถซิ่งรถไปคว่ำ “โอเว่น” ที่นั่งขับรถถังได้สำเร็จ พร้อมกับช่วย “เล็ตตี้” ที่ความจำเสื่อมไว้ได้เรื่องไม่จบแค่นั้น “โอเว่น” 
                ที่ถูกคุมขังอยู่ในเขตทหารของนาโต้ ได้ใช้เส้นสายให้ปล่อยตัวเขา อีกทั้งยังสั่งให้ลูกน้องไปจับตัว “มีอา” ไว้เป็นตัวประกัน ทั้งยังเผยว่าความจริงว่า เจ้าหน้าที่ตำรวจ “ไรรี่” 
                คู่หูของ “ฮ็อบส์” นั้นแท้จริงแล้วเป็นสายให้ “โอเว่น” ทำเอากลุ่มของ “ดอม” ถึงกับงานกร่อย ท้ายที่สุดพวกเขาต้องเสี่ยงตายซิ่งรถไล่ตามเครื่องบิน 
                จากค่ายทหารไปยังในเมืองเพื่อช่วยเหลือ “มีอา” แม้ภารกิจจะสำเร็จสามารถจัดการ “โอเว่น” และ “ไรรี่” ลงได้ แต่ชาวแก๊งต้องสูญเสีย “จีเซล” 
                เพราะเธอยอมปล่อยมือเพื่อยิงป้องกันให้คนรัก ที่กำลังโดนอีกฝ่ายเล่นงานจากด้านหลัง นั่นจึงทำให้ “ฮาน” เสียใจเป็นอย่างมาก หลังจากของที่ถูกโจรกรรมไปถูกส่งคืนแล้ว 
                “ดอม” กลับมาอยู่บ้านเก่าเลขที่ 1327 สหรัฐ ขณะที่ “ฮาน” ไปซิ่งรถที่ญี่ปุ่น ซึ่งจะเชื่อมต่อไปยัง FAST & FURIOUS TOKYO DRIFT (2006) นั้นเอง </a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 8.5/10</a><br>

    <h1 class="detail">FAST & FURIOUS 7 (2015)</h1>
    <center><img src="{% static 'hello_world/picture/Fast7.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: </a><br>
    <a class="text">นักเขียน: </a><br>
    <a class="text">นักแสดงนำ: </a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
      เมื่อ “เอียน ชอว์”  พี่ชายของ “โอเว่น ชอว์” บุกไปหาข้อมูลของ “ดอม” กับชาวแก๊ง ในสำนักงานของ “ฮอบส์” แถมยังทำให้เจ้าหน้าที่หุ่นล่ำบาดเจ็บสาหัส 
      หลังได้ข้อมูลมาแล้วเขาก็เดินทางไปจัดการกับ “ฮาน” เป็นรายแรก หนำซ้ำยังระเบิดบ้านของ “ดอม” จนแทบไม่เหลือซาก “ดอม” ต้องการหาตัว “เอียน ชอว์” 
      เพื่อสะสางบัญชีแค้น แต่ดูเหมือนเขาจะต้องเจอกับงานหิน เพราะวายร้ายตัวพ่อกลับมี กองกำลังติดอาวุธนำโดย หัวหน้าที่ชื่อ “โมซี่ จาคานดี้” และ ทหารรับจ้างฝีมือพระกาฬที่ชื่อ 
      “หลุยส์ ทราน”  คอยหนุนหลังอยู่เสมอ แต่กระนั้นฝ่าย “ดอม” ก็ยังมีกองกำลังของ “มิสเตอร์โนบอดี้”  มาคอยช่วยเหลืออีกแรง 
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ถือเป็นภาคที่ทำออกมาเพื่อไว้อาลัยแก่นักแสดง “พอล วอล์กเกอร์” ที่แสดงเป็น “ไบรอัน โอ’คอนเนอร์” ตัวเอกของเรื่อง หลังจากเขาเสียชีวิตจากอุบัติเหตุ<br>
        - ฉากที่ตาตึงใจในภาคนี้มีเยอะมาก ทั้งดอมขับรถข้ามตึก,ดอม ขับรถไปแขวนระเบิดบน เฮลิคอปเตอร์ ของ โมซี่ เพื่อให้ ฮอบส์ ยิงปิดฉาก<br>
        - ฉากท้ายเรื่องที่ดอมและไบรอัน ขับรถแยกกันไปคนละทาง และมีเพลง See You Again ของ Wiz Khalifa ft. Charlie Puth ประกอบฉากนี้ สามารถทำให้น้ำจะไหล<br> 
        - ทางผู้เขียนขออาลัยแด่พอล วอล์คเกอร์ด้วยนะครับb<br>
    </pr>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              สปอยล์
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <a class="text">โดยสองฝ่ายต่างต้องการครอบครอง อาวุธเรด้า “ตาเทพ” ที่สามารถติดตาหาตัวบุคคลที่ต้องการได้อย่างรวดเร็ว ซึ่งผู้ที่ออกแบบโปรแกรมนี้ก็คือ “เมแกน แรมเซย์” สำหรับช่วงแรกที่ปะทะกันนั้นฝ่าย “ดอม” 
                โดยฝ่าย “เอียน ชอว์” เล่นงานเละเทะไม่เป็นท่า โดยเฉพาะ “มิสเตอร์โนบอดี้” โดยยิงบาดเจ็บสาหัส แถมยังโดนชิงเอา “ตาเทพ” ไปอีกด้วย พวกเขาจึงกลับมายังบ้านที่”แอลเอ” เพื่อรับมือมหาวายร้าย ซึ่งแน่นอนว่า “ดอม” 
                และชาวแก๊งสามารถจัดการฝ่าย “เอียน ชอว์” ได้ราบคาบ “โมซี่” โดยระเบิดตายในเฮลิคอปเตอร์ ส่วน “พี่จา” โดน “ไบรอัน” จัดการจนตกลงไปในช่องทิ้งขยะ แต่ว่า “ดอม” บาดเจ็บสาหัส “เล็ตตี้” 
                ร้องไห้จนความทรงจำกลับคืนมาช่วงท้ายเรื่องทุกคนต่างพากันไปพักผ่อนชายทะเล ก่อนที่ “ดอม” จะขับรถออกมา โดยมี “ไบรอัน” ตามมาส่ง ซึ่ง “ดอม” ได้กล่าวทำนองว่า “…นายจะเป็นพี่น้องของฉันตลอดไป…” 
                ก่อนที่ เพลง See You Again ของ Wiz Khalifa ft. Charlie Puth  </a>
            </div>
          </div>
        </div>
    <a class="text">คะแนน 9/10</a><br>
    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง Fast ก็กวาดทั้งรายได้ถล่มทลายและคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นชุดหนังที่สนุกและสามารรถครองใจแฟนๆแม้หลังจากนี้จะเป็นเนื้อเรื่องที่โคตรจะออกทะเลไปไกลก็ตาม

    </a>
    </p>
    </body>
</html>
