{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>The Thing</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
            <input type="text" placeholder="Search..">
          </div>
        <h1 class="movie">The Thing</h1><br>
        <center><img src="{% static 'hello_world/picture/The Thing All.jpg' %}"></center><br>

        <a class="text">
            แนว: <a class="text" href="http://127.0.0.1:8000/horror/">Horror,</a>
            <a class="text" href="http://127.0.0.1:8000/mystery/">Mystery,</a>
            <a class="text" href="http://127.0.0.1:8000/scifi/">Scifi</a>
        </a><br>
    
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน ยินดีต้อนรับเข้าสู่การรีวิวหนัง The Thing ทั้ง 2 ภาค ซึ่งหนังเรื่องนี้อาจจะเป็นหนังที่ไม่ได้เป็นที่รู้จักกันในหมู่มากขนาดนั้น แต่ทางผู้เขียนรับรองได้เลยว่าหนังเรื่องนี้ถือเป็นหนังอีกเรื่องที่
    </a>
    <h1 class="detail">The Thing 1982</h1>
    <center><img src="{% static 'hello_world/picture/The Thing 1982.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: John Carpenter</a><br>
    <a class="text">นักเขียน: Bill Lancaster ,John W. Campbell Jr.</a><br>
    <a class="text">นักแสดงนำ: JKurt Russell ,Wilford Brimley ,Richard Masur ,Keith David ,T.K. Carter ,David Clennon ,Richard Dysart ,Charles Hallahan</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ในช่วงฤดูหนาวปี 1982 สถานีวิจัยของสหรัฐอเมริกาแอนตาร์กติกา ถูกเฮลิคอปเตอร์จากสถานีวิจัยนอร์เวย์ที่อยู่ใกล้เคียง เขาพยายามจะฆ่าหมาที่หนีออกจากสถานีของพวกเขา 
        หลังจากที่ฆ่าคนนอร์เวย์ได้ MacReady (Kurt Russell) และ Dr. Copper (Richard Dysart) บินไปยังสถานีวิจัยนอร์เวย์ เมื่อไปถึงกลับปรากฎว่าทุกคนตายหมดและได้เจอกับซากของสิ่งมีชีวิตแปลกๆที่พวกเขาได้เผาทิ้งไว้ หลังจากที่ Dr. Blair (Wilford Brimley) ชำแหละศพเขาสันนิษฐานว่ามันเป็นรูปแบบชีวิตของเอเลี่ยน หลังจากนั้นไม่นานหมาที่เคยช่วยไว้เกิดกลายพันธ์ ทุกคนเลยเข้าใจที่นอร์เวย์ทำ เอเลี่ยนสามารถเข้ายึดครองและดูดซึมเข้าสู่รูปแบบชีวิตอื่นๆ รวมถึงมนุษย์และสามารถแพร่กระจายได้เหมือนไวรัสแต่ที่น่ากลัวที่สุดคือพวกเขาปล่อยให้หมาตัวนั้นเดินรอบทั่วสถานี นั่นหมายความว่าทุกคนที่นี่สามารถกลายเป็นสัตว์ประหลาดได้ทุกเมื่อและความตึงเครียดก็ทวีคูณขึ้นเรื่อยๆ
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - การดีไซต์สร้างสัตว์ประหลาดในแต่ละตัวนั้น ทำได้สร้างสรรค์และน่าขยะแขยงเป็นอย่างมาก<br>
        - การที่เลือกให้พล็อตเรื่องอยู่ในสถานที่ไร้การช่วยเหลือจากคนภายนอกเป็นมุกที่คลาสิกมากในโลกภาพยนต์ แต่ปฎิเสธไม่ได้เลยว่าหนังแบบนี้ชวนให้น่าติดตาม ให้ความรู้สึกกดดันมากและไหนยังต้องคอยระแวงคนรอบข้างว่าใครจะกลายเป็นพวกมัน แถมดนตรีประกอบฉาก ทุกครั้งที่ซาวด์บรรเลงขึ้นทำเอาขนลุกตลอด<br>
        - มีหลายๆซีนที่น่าจดจำ<br>
        - ในตอนจบทำออกมาได้น่าคิดมาก สรุปควรจะจบแบบนั้นหรือทุกอย่างมันยังไม่จบ<br>
        - โดยส่วนตัวผมชอบ 3 ฉากต่อไปนี้มาก คือ ตอนน้องหมาไซบีเรียนเผยธาตุแท้ ,ตอนกำลังปั๊มคนหัวใจวาย และ การพิสูจน์ตัวตน<br>
    </pr>
    <a class="text">คะแนน 7.3/10</a><br>

    <h1 class="detail">The Thing 2011</h1>
    <center><img src="{% static 'hello_world/picture/The Thing 2011.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Matthijs van Heijningen Jr.</a>
    <a class="text">นักเขียน: Eric Heisserer ,John W. Campbell Jr.</a>
    <a class="text">นักแสดงนำ: Mary Elizabeth Winstead ,Joel Edgerton ,Adewale Akinnuoye-Agbaje ,Ulrich Thomsen ,Eric Christian Olsen ,Trond Espen Seim ,Kristofer Hivju</a>
    <a class="text">เรื่องย่อ</a> 
    <p>
        นักธรณีวิทยา เคท ลอยด์ (แมรี่ เอลิซาเบธ วินสตีลด์) เดินทางมายังพื้นที่อันแสนห่างไกลและโดดเดี่ยวเพื่อทำการสำรวจครั้งยิ่งใหญ่ในชีวิต 
        ระหว่างเข้าร่วมกับทีมวิทยาศาสตร์นอร์เวย์ที่เกิดไปพบยานอวกาศต่างดาวถูกฝังอยู่ใต้แผ่นน้ำแข็ง เธอค้นพบสิ่งมีชีวิตที่ดูเหมือนจะตายไปแล้วเมื่อยานตกลงสู่โลกเมื่อหลายพันปีก่อน 
        แต่เจ้าสัตว์ต่างดาวตัวนั้นแค่กำลังรอเวลาตื่นขึ้นมาเมื่อการทดลองง่าย ๆ กลับปลดปล่อยเอเลี่ยนออกมาจากการโดนขังด้วยความเย็นจัด เคทต้องร่วมมือกับนักบินประจำศูนย์ค้นคว้าที่ชื่อ 
        คาร์เตอร์ (โจเอล เอ๊ดเกอร์ตัน) เพื่อปกป้องชีวิตทุกคนจากเอเลี่ยนตัวนี้ และท่ามกลางแผ่นดินอันกว้างใหญ่ไพศาลแห่งนี้ เจ้าสัตว์ต่างดาวที่เป็นตัวปาราสิตสามารถเลียนแบบทุกสิ่งทุกอย่างที่มันสัมผัสโดน 
        ทำให้มนุษย์ต้องหันมาต่อสู้กับมนุษย์ด้วยกันเองขณะที่มันพยายามเอาชีวิตรอดและขยายพันธุ์ต่อไป
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ในตอนจบจะมีจุดเชื่อมไปยัง The Thing 1982 เป็นการบอกจุดเชื่อมโยงของเรื่องราวได้ดีแต่การทำแบบนี้มันจะทำให้หมดความขังไปได้ อย่างเช่นความกดดันในภาคนี้ไม่ค่อยน่าดึงดูดเท่าไร พอเดาพอคร่าวๆ ได้ว่าใครกลายร่างแล้ว<br>
        - ภาคนี้การให้ Kate Lloyd เป็นผู้หญิงนำเรื่องถือว่าดีเยื่ยม ไม่ต้องมีการเปรียบเทียบอย่าง MacReady (The Thing 1982)<br>
        - ฉากที่น่ากลัวที่สุด คือ ตอนสัตว์ประหลาดเอาหน้าไปแนบผู้รอดชีวิตจนหลอมรวมเป็นหนึ่ง ทำเอาตัวเราไปการกอดคนอื่นไป 9 เดือนเลย<br>

    </pr>
    <a class="text">คะแนน 6/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนัง The Thing ทั้ง 2 ภาคก็ได้รับคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นชุดหนังที่มีความพิศวงและสยองขวัญที่อาจจะหลอกหลอนผู้ชมไปได้อีกหลายวันเลยทีเดียว 
        ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังแฟรนไชส์นี้ สามารถไปหาตามรับชมกันได้ และถ้าหากท่านมีความคิดเห็นอย่างไรสามารถพิมพ์แสดงความคิดเห็นได้ในกล่องข้อความข้างล่างนี้ครับ
    </a>
    </p>
    </body>
</html>
