{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'hello_world/read.css' %}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <title>Primeval</title>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="http://127.0.0.1:8000/">Home</a>
            <a href="http://127.0.0.1:8000/info/">Info</a>
            <a href="http://127.0.0.1:8000/search/#">Category</a>
            <input type="text" placeholder="Search..">
          </div>
        <h1 class="movie">มหากาพย์ Planet of the apes</h1><br>
        <center><img src="{% static 'hello_world/picture/all.jpg' %}"></center><br>
    <a class="text">
        สวัสดีท่านผู้อ่านทุกท่าน ยินดีต้อนรับเข้าสู่การรีวิวไตรภาคของหนังชุด Planet of the apes ในฉบับ Reboot ของผู้กำกับ Rupert Wyatt ที่เข้าฉายครั้งแรกเมื่อปี 2011 
        ซึ่งเราจะมารีวิวเจาะไปทีล่ะภาคกันในบทความนี้ โดยขอย้ำเตือนกันไว้ก่อนว่าการรีวิวนี้เป็นการรีวิวในมุมมองส่วนตัวของผู้เขียน ซึ่งอาจจะถูกใจหรือไม่ถูกใจท่านไหน 
        ทางผู้เขียนต้องกราบขออภัยทุกท่านมา ณ ที่นี้ด้วย หากทุกท่านพร้อมแล้วที่จะอ่านรีวิวของพวกเรา เชิญทุกท่านเลื่อนลงไปอ่านที่ด้านล่างนี้ได้เลยครับ
    </a>
    <h1 class="detail">กำเนิดพิภพวานร (Rise of the Planet of the Apes)</h1>
    <center><img src="{% static 'hello_world/picture/rise.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Rupert Wyatt</a><br>
    <a class="text">นักแสดงนำ: James Franco ,Freida Pinoto, John Lithgow, Brian Cox, Tom Felton, Andy Serkis</a><br>
    <a class="text">เรื่องย่อ</a>
    <p>
        ซีซาร์ ลิงชิมแปนซีที่ได้รับสติปัญญาและอารมณ์เหมือนมนุษย์จากยาทดลอง วิล ร็อดแมน ผู้สร้างยาเสพติดและนักวานรวิทยา แคโรไลน์ อารันฮา เติบโตมาเหมือนเด็ก 
        ในที่สุดซีซาร์ก็พบว่าตัวเองถูกพรากไปจากมนุษย์ที่เขารักอและถูกคุมขังอยู่ในเขตรักษาพันธุ์ลิงในซานบรูโน เพื่อแสวงหาความยุติธรรมให้กับเพื่อนร่วมห้องขัง 
        ซีซาร์จึงมอบยาชนิดเดียวกับที่เขาได้รับมาให้ลิงตัวเดียวกัน จากนั้นเขาก็รวบรวมกองทัพสัตว์คล้ายลิงและหลบหนีออกจากเขตรักษาพันธุ์สัตว์ป่า 
        ทำให้มนุษย์และลิงต้องเผชิญเส้นทางปะทะกันที่อาจเปลี่ยนแปลงโลกไปตลอดกาล
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - เป็นการปูเรื่องราวได้น่าติดตาม ทำให้อยากดูต่อไปว่าจะเกิดอะไรขึ้นต่อจากนี้<br>
        - ฉากที่ชื่นชอบที่สุด คือ ตอน Dodge บอกให้ซีซ่าปล่อยมือสกปรกของมันออกไป แต่ซีซ่ากลับพูดว่า "ไม่" ตอนดูขั้นแรกขนลุกซู่มากๆ<br>
        - ดนตรีประกอบฉากทำได้น่าลุ้นระทึก อย่างตอนหนีออกจากศูนย์ควบคุมสัตว์ไปจนถึงเข้าป่า Muir Woods<br>
        - มีฉาก easter egg ให้คิดถึงเรื่อง Planet of the Apes 1968<br>
    </pr>
    <a class="text">คะแนน 8/10</a>

    <h1 class="detail">รุ่งอรุณแห่งพิภพวานร (Dawn of the Planet of the Apes)</h1>
    <center><img src="{% static 'hello_world/picture/dawn.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Matt Reeves</a><br>
    <a class="text">นักแสดงนำ: Gary Oldman, Keri Russell, Andy Serkis ,Jason Clarke ,Kodi Smit-Mcphee ,Toby Kebbell</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ซีซาร์ได้หลบหนีไปกับกลุ่มผู้ติดตามเข้าป่า Muir Woods ส่วนทางฝั่งของมนุษย์ก็ต้องประสบปัญหาไวรัส ALZ-113 
        ที่ได้แพร่กระจายตัวไปทั่วโลกทำให้ประชากรมนุษย์เริ่มตายจำนวนมากถึงเข้าขั้นใกล้สูญพันธ์ 10 ปีต่อมา ซีซาร์ได้สร้างอาณาจักรเป็นของตัวเองที่นั่น 
        ไร้ซึ่งผู้รุกราน จนกระทั่งวานรพบเจอมนุษย์กลุ่มนึงเข้าโดยบังเอิญ
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - เป็นเรื่องที่ฉลาดและตั้งใจอย่างดุเดือดกับหลักการของมันและทิ้งให้อารมณ์ ค้างเช่นเดียวกับภาคแรก<br>
        - "Apes" ในปี 1960 และ 70 และสร้างใหม่เป็นมหากาพย์ ในภาคนี้เรื่องไม่ได้เสียดสีเหมือนภาพยนตร์ "Apes" ดั้งเดิม แต่เป็นการเมืองที่ขี้เล่น ความแตกต่างที่ใหญ่ที่สุดคือความรู้สึกใกล้ชิดการเมืองเป็นเรื่องส่วนตัวและพวกเขาเล่นผ่านตัวละครของซีซาร์<br>
        - เป็นการกลับมาของอาณาจักรวานรของซีซาร์กับภาคต่อของหนังอย่าง "Rise of the Planet of the Apes" และการลงเนื้อหาให้เข้มข้นขึ้น และปูทางไปยังภาค 3 อย่างลงตัว<br>
        - ส่วนตัวชอบแนวโลกล่มสลายที่เหลือไว้เพียงแค่สิ่งก่อสร้างและหญ้ารกรุงรังที่ขึ้นในหลายๆที่ตามตึกต่างๆ ทำให้นึกถึงฉาก "I Am Legend 2007"<br>
        - ตอนเห็น Jason Clarke ในตัวอย่างนึกว่าจะเป็นอย่างที่เราคิด แต่กลับผิดคาดอย่างมากกับบทที่เขาได้เล่น<br>
        - การแสดงของ Andy Serkis และ Toby Kebbell ที่สวมบทเป็นซีซาร์และโคบาในเรื่อง ทั้งสองเล่นได้สุดยอดมาก การแสดงอารมณ์ของวานร รวมถึงท่าทางของวานรที่แสดงได้เหมือนจริงสุดๆ<br>
        - มีฉาก easter egg ให้คิดถึงเรื่อง Battle for the Planet of the Apes 1973 อย่าง คำสอน Ape not kitt ape และ Cornelia ที่เป็นลูกของซีซาร์<br>
    </pr>
    <a class="text">คะแนน 7/10</a>
    <h1 class="detail">มหาสงครามพิภพวานร (War for the Planet of the Apes)</h1>
    <center><img src="{% static 'hello_world/picture/war.jpg' %}"></center><br>
    <a class="text">ผู้กำกับ: Matt Reeves</a><br>
    <a class="text">นักแสดงนำ: Andy Serkis ,Woody Harrelson ,Steve Zahn ,Amiah Miller ,Karin Konoval ,Terry Notary</a><br>
    <a class="text">เรื่องย่อ</a> 
    <p>
        ซีซาร์และวานรของเขาถูกบังคับให้เข้าสู่ความขัดแย้งร้ายแรงกับกองทัพมนุษย์ที่นำโดยพันเอกผู้โหดเหี้ยม หลังจากที่ลิงต้องประสบกับความสูญเสียที่ไม่อาจจินตนาการได้ 
        ซีซาร์ก็ต้องต่อสู้กับสัญชาตญาณอันมืดมนของเขา และเริ่มภารกิจในตำนานของเขาเองเพื่อล้างแค้นให้กับเผ่าพันธุ์ของเขา เมื่อการเดินทางนำพวกเขามาเผชิญหน้ากันในที่สุด 
        ซีซาร์และพันเอกต้องเผชิญหน้ากันในการต่อสู้ครั้งยิ่งใหญ่ที่จะกำหนดชะตากรรมของทั้งเผ่าพันธุ์และอนาคตของโลก
    </p>
    <a class="text">ความรู้สึกหลังดู</a>
    <p> 
        - ประเด็นแรกที่ต้องทําเกี่ยวกับ War for the Planet of the Apes คือมันไม่ได้เกี่ยวกับสงครามตามชื่อเรื่อง<br>
        - ดนตรีประกอบทำออกมาได้ โศกเศร้าและอบอุ่นในเวลาเดียวกัน อย่างตอนที่ซีซาร์กำลังจะตายเขามองไปทางคอร์เนเลียสและโนวาที่เล่นกัน จู่ๆเราน้ำตาไหลออกมาไม่หยุดเลย<br>
        - ฉากที่ชอบมาก คือ ตอนโนวาให้น้ำและอาหารกับซีซาร์ที่ติดอยู่ในกรงเป็นอะไรที่น่าอบอุ่นมาก<br>
        - ตอนที่ซีซาร์จะไปฆ่าผู้พัน แล้วเกิดบางอย่างขึ้น กลับเปลี่ยนใจขึ้นมาอย่างกระทันหัน ส่วนตัวไม่ชอบอะไรแบบนี้อย่างมาก เช่น ตั้งใจจะไปจัดการอะไรซะอย่างแล้วพอถึงเวลาที่ต้องลงมือกลับไม่ทำ รู้สึกหงุดหงิดกับอะไรแบบนี้มาก<br>
    </pr>
    <a class="text">คะแนน 8.5/10</a><br>

    <p>
    <a class="text">
        ท้ายที่สุดแล้ว หนังไตรภาค Planet of the apes ก็กวาดทั้งรายได้ถล่มทลายและคำวิจารณ์หนังจากเว็บรีวิวหนังอย่างเป็นทางการได้เป็นอย่างมาก ถือว่าเป็นชุดหนังที่สนุกและสามารถครองใจแฟนๆได้อย่างล้นหล่าม 
        ซึ่งสำหรับใครที่ยังไม่ได้รับชมหนังแฟรนไชส์นี้ สามารถไปหาตามรับชมกันได้ และถ้าหากท่านมีความคิดเห็นอย่างไรสามารถพิมพ์แสดงความคิดเห็นได้ในกล่องข้อความข้างล่างนี้ครับ
    </a>
    </p>
    </body>
</html>
